.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
data/processed/*.duckdb*
!data/processed/comex_web.duckdb
data/raw/exp/*.csv
data/raw/imp/*.csv
data/raw/aux/*.xlsx
data/raw/auxiliares/*.xlsx
!data/raw/**/.gitkeep

# Pasta antiga incompatível com Windows
data/raw/aux/
